<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Assistant</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
  <body>
    <section class="loginPage">
      <div class="top">
        <div class="header">
          <h1>Войти в учетную запись</h1>
        </div>
        <img src="/static/img/20944201.svg" alt="logo">
        <form action="/login" method="post">
          <input type="text" name="login" placeholder="Адрес электронной почты" required autocomplete="login_new">
          <input type="text" name="password" password="password" placeholder="Пароль" required autocomplete="password_new">
          <input class="btn" type="submit" value="Войти">
        </form>
        <div class="hint">
          <span>Войти с помощью рабочей или учебной учётной записи для продолжения работы</span>
        </div>
      </div>
      <div class="bottom">
        <a href="/register">Создать учетную запись</a>
      </div>
    </section>
  </body>
</html>