<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Assistant</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
  <body>
      <section class="loginPage">
        <div class="top">
          <div class="header">
            <h1>Зарегистрировать учетную запись</h1>
          </div>
          <img src="/static/img/20944201.svg" alt="logo">
          <form action="/login" method="post">
            <select>
              <option value="0">Ученик</option>
              <option value="1">Преподаватель</option>
            </select>
            <select>
              <option value="0">Бух. учёт</option>
              <option value="1">ПОИТ</option>
              <option value="3">ПГС</option>
            </select>
            <select>
              <option value="0">188-б</option>
              <option value="1">23-п</option>
              <option value="3">120-с</option>
            </select>
            <input class="btn" type="submit" value="Зарегистрировать">
          </form>
          <div class="hint">
            <span>Войти с помощью рабочей или учебной учётной записи для продолжения работы</span>
          </div>
        </div>
        <div class="bottom">
          <a href="/register">Создать учетную запись</a>
        </div>
      </section>
  </body>
</html>