{% extends "_base.html" %}
{% block content %}
<section class="loginPage">
  <div class="top">
    <div class="header">
      <h1>Зарегистрировать учетную запись</h1>
    </div>
    <img src="/static/img/20944201.svg" alt="logo">
    <form action="/register/1" method="post">
      <select name="person" id="person" onchange="inputPerson()">
        <option value="0">Ученик</option>
        <option value="1">Преподаватель</option>
      </select>
      <input type="text" name="spec" id="spec" placeholder="Специальность">
      <input type="text" name="group" id="group" placeholder="Группа">
      <input class="btn" type="submit" value="Зарегистрировать">
    </form>
    <div class="hint">
      <span>Войти с помощью рабочей или учебной учётной записи для продолжения работы</span>
    </div>
  </div>
  <div class="bottom">
    <a href="/login">Войти в учетную запись</a>
  </div>
</section>
<script>
  function clickStudent() {
    console.log('asd')
    $('#spec').fadeIn(200,null);
    $('#group').fadeIn(200,null);
    $('#spec').val(null);
    $('#group').val(null);

  }
  function clickTeacher() {
    console.log('123')
    $('#spec').fadeOut(200,null);
    $('#group').fadeOut(200,null);
    $('#spec').val('Преподаватель');
    $('#group').val(' ');

  }
  function inputPerson() {
    if ($('#person').val() === '0'){
      clickStudent();
    } else {
      clickTeacher();
    }
  }
</script>
{% endblock %}